.login-container{
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 240, 240);
}
.login-title{
    font-size: 45px;
}
.login-form{
    margin-top: 25px;
    display: flex;
    flex-direction: column;

}

.login-form>label{
    margin:  12px 0;
    
}
.login-form>input{
    padding: 10px;
    background-color: white;
    border: none;

}
.login-btn,.register-btn{
    padding: 10px;
    margin-top: 22px;
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 10px;
}
.login-btn{

    background-color: #00CBCF !important;
}
.login-btn:disabled{
    cursor: not-allowed;
    background-color: rgba(0, 203, 207,0.5)!important;
}

.register-btn{
    background-color: burlywood!important;
    
}