.register-container{
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 240, 240);
}
.register-title{
    font-size: 45px;
}
.register-form{
    margin-top: 25px;
    display: flex;
    flex-direction: column;

}

.register-form>label{
    margin:  12px 0;
    
}
.register-form>input{
    padding: 10px;
    background-color: white;
    border: none;

}
.register-btn,.login-btn{
    padding: 10px;
    margin-top: 22px;
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 10px;
}
.register-btn{

    background-color: #00CBCF;
}

.login-btn{
    background-color: burlywood;
    
}