.setting-container{
    display: flex;
}

.settings-wrapper{
    flex:9;
    padding:30px;
}
.setting-title{
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.settings-update-title{
    font-size: 30px;
    color: #00CBCF;
    margin-bottom: 25px;


}
.settings-delete-title{
    font-size: 14px;
    color: red;
    cursor: pointer;
}

.setting-form{
    display: flex;
    flex-direction: column;


}
.setting-profile-picture{
    display: flex;
    align-items: center;
    margin:  10px 0;
}

.profile-img{
    width: 70px;
    height: 70px;
    border-radius: 20%;
    object-fit: cover;
}

.dp-upload{
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: burlywood;
    display: flex;
    color: white;
    margin-left: 10px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;

}
.dp-upload:hover{
    
    color: burlywood;
    background-color: white;
   
}
.dp-upload-icon{
    font-size: 30px !important;

}


#dpUpload{
    display: none;
}

.setting-form > label {
    font-size: 22px;
    margin-top: 22px;
}
.setting-form > input {
    color: gray;
    margin: 10px 0;
    height: 30px;
    border:none;
    border-bottom: 1px solid lightgray;
}
.submit-setting{
    width: 160px;
    align-self: center;
    border: none;
    border-radius: 10px;
    color: white;
    background-color:#00CBCF ;
    cursor: pointer;
    margin-top: 25px;
    padding: 10px;
    
}
