.new-blog-container{
 padding-top: 100px;
 display: flex;
 justify-content: center;
 background-color: rgb(230, 230, 230);
 height: 100vh;
}

.blog-form{
    width: 100%;
    display: flex;
    flex-direction: column;

}

.form-image{
    top: 70px;
    right: 70px;
    position: absolute;
    display: flex;
    margin: auto;
}
.post-img{
    width: 400px;
    height: 200px;
    margin: auto;
    object-fit: cover;
}

.form-title,.form-description,.form-upload{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    
}
.title-input{
    padding: 5px;
    width: 200px;
}
.file-upload{
    border: 0.5px solid black;
    padding: 5px;
    border-radius: 5px;
}
.file-upload:hover{
    background-color: white;
}
#fileUpload{
    display: none;
}

.description-input{
    width: 200px;
    height: 200px;
    overflow: scroll;

}
.submit-btn{
    border: 0.5px solid black;
    padding: 5px 15px;
    border-radius: 5px;
    margin: 0 auto;
}
.submit-btn:hover{
   background-color: blue;
   color: white;
}