.header-container{
    margin-top: 20px;
    margin-bottom: -10%;

}

.header-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Twinkle Star', cursive;
    color: rgba(0, 0, 0,0.8);
   
}

.title{
    position: absolute;
    top:100px;
    font-size: 80px;
}
.header-img{
    width: 100%;
   
    object-fit: cover;
}