.post-container{
    width: 370px;
    margin: 0px 30px 45px 30px;
}

.post-img{
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 5px;
}

.info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-categories{
    font-family: 'Playfair Display', serif;
    font-size: 12px;
    color: #66B4FF;
    line-height: 20px;
    margin-top: 16px;
    margin-right: 10px;
    cursor: pointer;
}

.post-title{
    font-size: 22px;
    font-family: 'Twinkle Star', cursive;
    font-weight: 700;
    margin-top: 16px;
    cursor: pointer;
}

.created-date{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    color: rgb(153, 153, 153);

}

.post-desc{
    font-family: 'Baloo Tammudu 2', cursive;
    font-size: 16px;
    color: rgba(0, 0, 0,0.5);
    margin-top: 16px;
    line-height: 24px;
    overflow: hidden !important;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3 ;
    -webkit-box-orient: vertical;
}