.sidebar-container{
    flex: 3 ;
    margin: 22px;
    padding-bottom: 32px;
    background-color: #fdfbfb;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-items{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-items >p{
    padding:35px ;
}
.sidebar-title{
    margin: 10px;
    padding: 5px;
    width: 80%;
    border-top: 1px solid rgb(223, 220, 220);
    border-bottom: 1px solid rgb(223, 220, 220);
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;    color: rgb(49, 49, 49);
    line-height: 22px;
    text-align: center;
}

.categories-list{
    list-style: none;
    margin-bottom: 30px;

}

.category-item{
    display: inline-block;
    width: 50%;
    margin-top: 20px;
    cursor: pointer;

}