.single-post-container{
    flex: 9;
    display: flex;
    justify-content: center;
}

.single-pose-wrapper{
 padding: 20px;
 display: flex;
 flex-direction: column;
}

.single-post-img{
  width: 100%;
  height: 340px;
  border-radius: 5px;
  object-fit: contain;
}

.single-post-title{
    text-align: center;
    margin: 15px;
    font-family: 'Twinkle Star', cursive;

}


.edit-delete-post{
    float: right;
    
}
.edit-delete-post-icons{
    margin-left: 14px;
    cursor: pointer;
    font-size: 20px !important;
    
}
.edit-delete-post-icons:first-child{
    color: blue;

}
.edit-delete-post-icons:last-child{
    color: rgba(255, 0, 0,0.7);

}

.single-post-info{
    margin-bottom: 20px;
    display: flex;
    justify-content: left;
    font-size: 14px;
    color: #66B4FF;
    font-family: 'Playfair Display', serif;


}

.author-name{
    margin-right: 20px !important;    

}
.author-name b {
    padding-left: 5px;
}

.post-date{
}

.post-description{

    color: #666;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 20px;
    

}
.post-description::first-letter{

    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;

}
