.top-bar-container {
    width: 100%;
    height: 60px;
    background-color: white;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    z-index: 10;
    
}

.top-left-container,
.top-right-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-center-container {
    flex: 1;
}

.social-icons {
    font-size: 26px !important;
    margin-right: 10px;
    color: #444;
    cursor: pointer;
}

.nav-list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    
}

.nav-items {
    margin-right: 38px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 300;
 

}

.logout{
    margin-right: 20px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 300;
}
.profile-logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.search-icon {
    cursor: pointer;
    font-size: 20px;
    color: #666;
    margin-left: 18px;
}